@import url(https://fonts.googleapis.com/css?family=Russo+One);
html, body {
  margin: 0;
  padding: 0;
  background-color: #888;
  width: 100%;
  font-family: 'Russo One', sans-serif; }

body {
  width: 800px;
  margin: 0 auto; }

h1 a {
  color: black;
  text-decoration: none; }

#register {
  overflow: auto; }
  #register label, #register input {
    float: left;
    width: 150px; }
  #register label {
    clear: left; }
  #register input[type="submit"] {
    clear: left;
    margin-left: 150px; }

footer #authors {
  float: right; }

.game-tile {
  position: relative; }
  .game-tile table {
    margin-top: 20px;
    width: 100%;
    table-layout: fixed; }
    .game-tile table tr {
      overflow: visible; }
    .game-tile table td {
      position: relative;
      padding: 0; }
      .game-tile table td img {
        position: absolute;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;
        width: 100%; }
        .game-tile table td img[data-terr="0"] {
          background-color: #060;
          content: url(/static/img/sprites/grass.png); }
        .game-tile table td img[data-terr="1"] {
          background-color: #666;
          content: url(/static/img/sprites/rock.png); }
        .game-tile table td img[data-terr="2"] {
          background-color: #33ADFF;
          content: url(/static/img/sprites/water.png); }
        .game-tile table td img[data-terr="3"] {
          background-color: #472400;
          content: url(/static/img/sprites/bridge.png); }
        .game-tile table td img[data-terr="4"] {
          background-color: #360;
          content: url(/static/img/sprites/tallgrass.png); }
        .game-tile table td img[data-terr="5"] {
          background-color: #C90;
          content: url(/static/img/sprites/road.png); }
        .game-tile table td img[data-terr="6"] {
          background-color: #d6b55f;
          content: url(/static/img/sprites/sand.png); }
        .game-tile table td img[data-terr="7"] {
          background-color: transparent;
          content: url(/static/img/sprites/tree.png); }
        .game-tile table td img[data-terr="8"] {
          background-color: transparent;
          content: url(/static/img/sprites/water2.png); }
        .game-tile table td img[data-terr="9"] {
          background-color: transparent;
          content: url(/static/img/sprites/cave.png); }
        .game-tile table td img[data-terr="10"] {
          background-color: transparent;
          content: url(/static/img/sprites/bush.png); }
        .game-tile table td img[data-terr="11"] {
          background-color: transparent;
          content: url(/static/img/sprites/tree2.png); }
        .game-tile table td img[data-terr="12"] {
          background-color: transparent;
          content: url(/static/img/sprites/grass2.png); }
        .game-tile table td img[data-terr="13"] {
          background-color: transparent;
          content: url(/static/img/sprites/wall.png); }
        .game-tile table td img[data-terr="14"] {
          background-color: transparent;
          content: url(/static/img/sprites/item.png); }
        .game-tile table td img[data-terr="15"] {
          background-color: transparent;
          content: url(/static/img/sprites/sand2.png); }
        .game-tile table td img[data-terr="16"] {
          background-color: transparent;
          content: url(/static/img/sprites/caveground.png); }
        .game-tile table td img[data-terr="17"] {
          background-color: transparent;
          content: url(/static/img/sprites/cavegroundstop.png); }
        .game-tile table td img[data-terr="18"] {
          background-color: transparent;
          content: url(/static/img/sprites/caverock.png); }
        .game-tile table td img.player {
          content: url(/static/img/sprites/player.png); }
        .game-tile table td img.entrance {
          content: url(/static/img/sprites/none.png); }
        .game-tile table td img.exit {
          background-color: #666;
          content: url(/static/img/sprites/caveentrance.png); }
          .game-tile table td img.exit.up {
            -ms-transform: rotate(180deg);
            /* IE 9 */
            -webkit-transform: rotate(180deg);
            /* Chrome, Safari, Opera */
            transform: rotate(180deg); }
          .game-tile table td img.exit.right {
            -ms-transform: rotate(270deg);
            /* IE 9 */
            -webkit-transform: rotate(270deg);
            /* Chrome, Safari, Opera */
            transform: rotate(270deg); }
          .game-tile table td img.exit.down {
            -ms-transform: rotate(0deg);
            /* IE 9 */
            -webkit-transform: rotate(0deg);
            /* Chrome, Safari, Opera */
            transform: rotate(0deg); }
          .game-tile table td img.exit.left {
            -ms-transform: rotate(90deg);
            /* IE 9 */
            -webkit-transform: rotate(90deg);
            /* Chrome, Safari, Opera */
            transform: rotate(90deg); }
        .game-tile table td img.movePlayer {
          content: url(/static/img/sprites/move.png); }
          .game-tile table td img.movePlayer.up {
            -ms-transform: rotate(180deg);
            /* IE 9 */
            -webkit-transform: rotate(180deg);
            /* Chrome, Safari, Opera */
            transform: rotate(180deg); }
          .game-tile table td img.movePlayer.right {
            -ms-transform: rotate(270deg);
            /* IE 9 */
            -webkit-transform: rotate(270deg);
            /* Chrome, Safari, Opera */
            transform: rotate(270deg); }
          .game-tile table td img.movePlayer.down {
            -ms-transform: rotate(0deg);
            /* IE 9 */
            -webkit-transform: rotate(0deg);
            /* Chrome, Safari, Opera */
            transform: rotate(0deg); }
          .game-tile table td img.movePlayer.left {
            -ms-transform: rotate(90deg);
            /* IE 9 */
            -webkit-transform: rotate(90deg);
            /* Chrome, Safari, Opera */
            transform: rotate(90deg); }
        .game-tile table td img.monster {
          content: url(/static/img/sprites/monster.png); }
    .game-tile table td {
      background-color: #446d1c; }
  .game-tile #dialog {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 640px;
    margin: 0 auto;
    padding: 4%;
    background-color: #efefef;
    border: 10px solid transparent;
    -webkit-border-image: url("/static/img/border.png") 8 round;
    /* Safari 3.1-5 */
    -o-border-image: url("/static/img/border.png") 8 round;
    /* Opera 11-12.1 */
    border-image: url("/static/img/border.png") 8 round;
    text-align: center; }
    .game-tile #dialog #battle #user, .game-tile #dialog #battle #monster {
      width: 45%; }
    .game-tile #dialog #battle #user {
      float: left; }
    .game-tile #dialog #battle #monster {
      float: right; }
    .game-tile #dialog #battle #text {
      clear: both;
      border-top: 2px solid black;
      padding: 10px;
      font-size: 1.5em; }
    .game-tile #dialog #battle .hp, .game-tile #dialog #battle .currHp, .game-tile #dialog #battle .label {
      width: 100%;
      height: 20px; }
    .game-tile #dialog #battle .hp {
      position: relative;
      background-color: red; }
    .game-tile #dialog #battle .currHp {
      position: absolute;
      background-color: green; }
    .game-tile #dialog #battle .label {
      position: absolute;
      position: absolute; }

#terrain-select.game-tile table {
  width: inherit;
  border: 5px solid black; }
#terrain-select.game-tile td {
  width: 50px;
  height: 50px; }
  #terrain-select.game-tile td.selected {
    border: 2px solid red; }

#position {
  position: fixed;
  bottom: 0;
  background-color: white; }

/*# sourceMappingURL=style.css.map */
