$sitewidth: 800px;

html, body {
  margin: 0;
  padding: 0;
  background-color: #888;
  width: 100%;
}

body {
  width: $sitewidth;
  margin: 0 auto;
}

h1 a {
  color: black;
  text-decoration: none;
}

// LOGIN
#register {
  overflow: auto;

  label, input {
    float: left;
    width: 150px;
  }
  label { clear: left; }
  input[type="submit"] {
    clear: left;
    margin-left: 150px;
  }
}

// FOOTER
footer #authors {
  float: right;
}

// GAME
.game-tile {
  table {
    width: 100%;
    td {
      border: 1px solid black;
      &[data-terr="0"] {
        background-color: #060;
      }
      &[data-terr="1"] {
        background-color: #666;
      }
      &[data-terr="2"] {
        background-color: #33ADFF;
      }
    }
  }
}

// EDITOR
#terrain-select.game-tile {
  table {
    width: inherit;
    border: 5px solid black;
  }
  td {
    width: 50px;
    height: 50px;

    &.selected {
      border: 2px solid red;
    }
  }
}
