@import "terrain";

$sitewidth: 800px;
@mixin sprite($name) {
  content: url(/static/img/sprites/#{$name}.png);
}
@mixin rotate($amount) {
  -ms-transform: rotate($amount); /* IE 9 */
  -webkit-transform: rotate($amount); /* Chrome, Safari, Opera */
  transform: rotate($amount);
}
@mixin rotation() {
  &.up {
    @include rotate(180deg);
  }
  &.right {
    @include rotate(270deg);
  }
  &.down {
    @include rotate(0deg);
  }
  &.left {
    @include rotate(90deg);
  }
}
@mixin border-image($url, $options) {
  -webkit-border-image: url($url) $options; /* Safari 3.1-5 */
  -o-border-image: url($url) $options; /* Opera 11-12.1 */
  border-image: url($url) $options;
}
@mixin terrain($id, $filename, $background-color:transparent) {
  &[data-terr="#{$id}"] {
    background-color: $background-color;
    @include sprite($filename);
  }
}

html, body {
  margin: 0;
  padding: 0;
  background-color: #888;
  width: 100%;
}

body {
  width: $sitewidth;
  margin: 0 auto;
}

h1 a {
  color: black;
  text-decoration: none;
}

// LOGIN
#register {
  overflow: auto;

  label, input {
    float: left;
    width: 150px;
  }
  label { clear: left; }
  input[type="submit"] {
    clear: left;
    margin-left: 150px;
  }
}

// FOOTER
footer #authors {
  float: right;
}

// GAME
.game-tile {
  position: relative;

  table {
    width: 100%;
    table-layout: fixed;

    tr {
      overflow:visible;
    }
    td {
      position: relative;
      padding: 0;
      // image-rendering: pixelated;

      img {
        position: absolute;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;
        width: 100%;

        @include terrain(0, grass, #060);
        @include terrain(1, rock, #666);
        @include terrain(2, water, #33ADFF);
        @include terrain(3, bridge, #472400);
        @include terrain(4, tallgrass, #360);
        @include terrain(5, road, #C90);
        @include terrain(6, sand, #d6b55f);
        @include terrain(7, tree);
        @include terrain(8, water2);
        @include terrain(9, cave);
        @include terrain(10, bush);
        @include terrain(11, tree2);
        @include terrain(12, grass2);
        @include terrain(13, wall);
        @include terrain(14, item);
        @include terrain(15, sand2);


        &.player {
          @include sprite(player);
        }

        &.entrance {
          @include sprite(none);
        }
        &.exit {
          background-color: #666;
          @include sprite(caveentrance);
          @include rotation();
        }

        &.movePlayer {
          @include sprite(move);
          @include rotation();
        }

      }
    }
    td {
      background-color: #446d1c;
    }
  }

  #dialog {
    display: none;
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 80%;
    margin: 0 auto;
    padding: 4%;
    background-color: #efefef;
    border: 10px solid transparent;
    @include border-image('/static/img/border.png', 8 round);

    text-align: center;
  }
}

// EDITOR
#terrain-select.game-tile {
  table {
    width: inherit;
    border: 5px solid black;
  }
  td {
    width: 50px;
    height: 50px;

    &.selected {
      border: 2px solid red;
    }
  }
}
