$sitewidth: 800px;
@mixin sprite($name) {
  content: url(/static/img/sprites/#{$name}.png);
}
@mixin rotate($amount) {
  -ms-transform: rotate($amount); /* IE 9 */
  -webkit-transform: rotate($amount); /* Chrome, Safari, Opera */
  transform: rotate($amount);
}

html, body {
  margin: 0;
  padding: 0;
  background-color: #888;
  width: 100%;
}

body {
  width: $sitewidth;
  margin: 0 auto;
}

h1 a {
  color: black;
  text-decoration: none;
}

// LOGIN
#register {
  overflow: auto;

  label, input {
    float: left;
    width: 150px;
  }
  label { clear: left; }
  input[type="submit"] {
    clear: left;
    margin-left: 150px;
  }
}

// FOOTER
footer #authors {
  float: right;
}

// GAME
.game-tile {
  table {
    width: 100%;
    table-layout: fixed;

    tr {
      overflow:visible;
    }
    td {
      position: relative;
      padding: 0;
      // image-rendering: pixelated;

      img {
        position: absolute;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;
        width: 100%;

        &[data-terr="0"] {
          background-color: #060;
          @include sprite(grass);
        }
        &[data-terr="1"] {
          background-color: #666;
          @include sprite(rock);
        }
        &[data-terr="2"] {
          background-color: #33ADFF;
          @include sprite(water);
        }
        &[data-terr="3"] {
          background-color: #472400;
          @include sprite(bridge);
        }
        &[data-terr="4"] {
          background-color: #360;
          @include sprite(tallgrass);
        }
        &[data-terr="5"] {
          background-color: #C90;
          @include sprite(road);
        }
        &[data-terr="6"] {
          background-color: #d6b55f;
          @include sprite(sand);
        }


        &.player {
          @include sprite(player);
        }

        &.entrance {
          background-color: black;
        }
        &.exit {
          background-color: red;
        }

        &.movePlayer {
          @include sprite(move);
          &.right {
            @include rotate(180deg);
          }
          &.up {
            @include rotate(90deg);
          }
          &.down {
            @include rotate(270deg);
          }
        }

      }
    }
    td {
      background-color: #446d1c;
      img[data-terr="7"] {
        @include sprite(tree);
      }
    }
  }
}

// EDITOR
#terrain-select.game-tile {
  table {
    width: inherit;
    border: 5px solid black;
  }
  td {
    width: 50px;
    height: 50px;

    &.selected {
      border: 2px solid red;
    }
  }
}
